body {
  background-color: blanchedalmond;
}
button {
    background-color: #aac2ce;
}
#grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 15%;
  }

  img {
    display: block;
    width: 100%;
  }




