@media (max-width: 800px) {
    body {
        text-align: center;
        background-color: #c6d5d8;
        font-family: 'Courier New', Courier, monospace;
    }
    
    h1 {
        color: #d2b08c;
    }
    
    button {
        font-family: 'Courier New', Courier, monospace;
        width: 25%;
        border-radius: 12px;
        border: 2px solid #c6d4d8;
        padding: 10px 10px;
        font-family:'Courier New', Courier, monospace courier;
        font-size: 16px;
        background-color: #e6ecee;
    }
    button:hover {
        background-color: #aac2ce;
    }
    
    img {
        opacity:0.6;
    }
}

@media (min-width: 801px) {
    body {
        text-align: center;
        background-color: #aac2ce;
        font-family: 'Courier New', Courier, monospace;
    }
    
    h1 {
        color: #a38672;
    }
    
    button {
        font-family: 'Courier New', Courier, monospace;
        width: 15%;
        border-radius: 12px;
        border: 2px solid #c6d4d8;
        padding: 10px 10px;
        font-family:'Courier New', Courier, monospace courier;
        font-size: 16px;
        background-color: #e6ecee;
    }
    button:hover {
        background-color: #aac2ce;
    }
    
    img {
        opacity:0.6;
    }
}